@CHARSET "UTF-8";

/**
 * 各デバイス共通のスタイルシートです。
 * Fontの指定や配色などを指定します。
 */
html,body {
	font-weight: normal;
	width: 98%;
	height: 100%;
	min-width: 320px;
	margin: 4px;
}

table { font-weight:normal; border : 0px;}
table caption { 
	font-weight: bold;
	text-align: left; 
}
tr {
	height: 26px;
	line-height: 26px;
	border : 0px;
}

th {background-color: #E0E0FF; text-align:center; font-weight:normal; border : 0px;}
td {border:0px;}
h1 {font-size: 120%;}
h2 {font-size: 120%;}


/* テーブル奇数行のスタイル */
.oddTr {
	background-color:#ffffff
}

/* テーブルの偶数行のスタイル*/
.evenTr {
	background-color:rgb(232,242,254)
}

/* 必須入力フィールドのスタイル */
.requiredFieldLabel:after {
	content: " (*)";
	display: inline;
	color: red;
}

/*
 * ヘッダ領域(開始) 
 */
#headerDiv {
	width: 98%;
	clear: both;
}

#headerDiv table {
	table-layout: fixed;
	width: 100%;
}

#headerDiv table td {
	padding: 6px;
}
/* システム名ブロック */
#headerDiv .systemName {
	font-size: 140%;
 	text-align: left;
	background-color: lavender;
 	vertical-align: middle;
}

/* ページ名ブロック */
#headerDiv #pageName {
	font-size: 120%;
	background-color: beige;
 	text-align: left;
}

/* ユーザ情報 */
#headerDiv #loginInfo {
	height: 100%;
	background-color: beige;
 	text-align: right;
}

/*
 * ボディ領域(開始) 
 */
body > #mainDiv {
}

#bodyTable {
	table-layout: fixed;
	width: 98%;
}

#bodyTable td {
	vertical-align: top;
}
/*
 * ボディ領域(終了) 
 */



/*
 * フッター領域 
 */
#footerDiv {
	clear: both;
	background-color: lavender;
	width: 98%;
	height: 30px;
}


/*
 * エラーメッセージ領域(開始) 
 */
.errorMessages {color: red;}
/* エラーが発生したフィールドのスタイル */
.errorField {background-color:mistyrose;}

tr.warnTr td {background-color:khaki;}

tr.errorTr td {background-color:mistyrose;}
/*
 * エラーメッセージ領域(終了) 
 */


/*
 * アコーディオンメニュー用スタイル(開始).
 */
li{
	list-style: none;
	text-align: left;
}

ul.accordion{
	width:210px;
	overflow: hidden;
	padding:2px 2px 2px 2px;
}

ul.accordion ul{
	display: none;
	text-align: left;
	padding:2px 2px 2px 2px;
}


ul.accordion li p{
	background: #c0c0e0;
	padding:2px 2px 2px 2px;
	margin:1px 1px 1px 1px;
	border-bottom: 1px solid #0f0f0f;
	cursor: pointer;/*カーソルを通常の物に*/
}

ul.accordion ul li{
	background: #f0f0f0;
	padding:1px 1px 1px 10px;
	border-bottom: 1px dashed #fff;
}

ul.accordion ul li:last-child{
	border:none;
}
/*
 * アコーディオンメニュー用スタイル(終了).
 */

/* 編集可能テーブル用スタイル */
.editableTable {
	table-layout: fixed;
}


/* 各フォームのスタイル */
#mainDiv form {
	margin:5px;
	padding:10px;
	background: #fff;
	border: 1px #ccc solid;
	box-shadow: 0 2px 3px 0 #ddd;
	-moz-box-shadow: 0 2px 3px 0 #ddd;
	-webkit-box-shadow: 0 2px 3px 0 #ddd;
}

/* 各フォームヘッダのスタイル */
.formHeader {
	font-size: 120%;
	margin-top: 1px;
	margin-bottom: 5px;
	padding: 5px;
	border-left: 10px solid #a9a9a9;
	border-bottom: 1px dashed #a9a9a9;
}


/*
 * カラムソートヘッダ関連(開始) 
 */
.sortableMark {
}

.sortableLabel {
}
/*
 * カラムソートヘッダ関連(終了) 
 */

/* javascript無効エラーメッセージの位置指定 */
.noscriptDiv {
	position:fixed;
	top:0px;
	left:0px;
}

/* 横スクロール用DIV */
.hScrollDiv {
	display: block;
	width: 100%;
	overflow-x:auto;
}

/* dataforms.jarのバージョン情報のスタイル */
#dataformsInfo {
	float: right;
	height: 100%;
	vertical-align: bottom;
	padding-top: 10px;
}

/* currentPage.alert(),currentPage.confirm()のスタイル */
#alertDialog .buttonDiv,
#confirmDialog .buttonDiv {
	width: 100%;
	text-align: center;
}

/* テキストボックスロック時のスタイル */
.lockedTextbox {
}

/* ページロックDIVのスタイル */
#lockLayer {
	background: url(./image/loading.gif) center no-repeat;
	background-color: black;
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	opacity: 0.5;
	z-index: 10000;
}

/*
 * カラム固定テーブル用のスタイル(開始) 
 *
 */
table.columnFixedTable {
	display: block;
	position: relative;
	overflow: scroll;
	width: 100%;
	border-collapse: collapse;
	font-size: 0;
}

table.columnFixedTable thead,
table.columnFixedTable tbody,
table.columnFixedTable tfoot {
	display: block;
/*	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;*/
}

table.columnFixedTable tr {
	height: 26px;
	line-height: 26px;
}

table.columnFixedTable th,
table.columnFixedTable td {
	display: inline-block;
	padding: 1px;
	font-size: 1.0rem;
	height: 26px;
	border-color: #ffffff;
	border-width: 2px;
	border-style: solid;
}

table.columnFixedTable tr td:not(:first-child),
table.columnFixedTable tr th:not(:first-child) {
	border-left-style: none;
}

table.columnFixedTable thead tr:not(:first-child) th,
table.columnFixedTable tr td {
	border-top-style: none;
}

/* --- ボーダー色を背景色以外にする場合以下の設定をコメントアウトしてください。 */
table.columnFixedTable tr th,
table.columnFixedTable tr td {
	border-left-style: none;
	border-top-style: none;
}
/* --- */

table.columnFixedTable tfoot th {
	border-color: #e0e0ff;
}

table.columnFixedTable thead {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 2;
}

table.columnFixedTable .fixedColumn {
	position: -webkit-sticky;
	position: sticky;
}

/*
 * カラム固定テーブル用のスタイル(終了)
 *
 */
 
 /*
  * jQuery-uiのdatepiker関連の設定(開始)。
  */
.ui-datepicker-trigger {
	line-height: normal;
	margin: 0px;
	width: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #808080;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 6px;
	padding-right: 6px;
} 
 /* Datepickerの設定されたフィールド */
.hasDatepicker {
	width: calc(100% - 32px) !important;
}

/* 範囲フィールドのクラス */
.rangeField {
	width: calc((100% - 32px) / 2) !important;
}

/* 日付範囲フィールドのクラス */
.dateRangeField {
	width: calc((100% - 32px) / 2 - 32px) !important;
}

 /*
  * jQuery-uiのdatepiker関連の設定(終了)。
  */
 
 .rowno {
 	width: 48px;
 }
