@CHARSET "UTF-8";

/**
 * 基本レイアウト用のスタイルシート(タブレット).
 */

/* 表示制御用クラス */
.pc {
	display:none;
}

.tb {
	display:block;
}

.sp {
	display:none;
}

/* 基本フォントサイズ */
html,body {
	font-size:10pt;
}

input,select,textarea {
	font-size:10pt;
}


/* ヘッダ周りのスタイル */
/* ヘッダ部の高さ指定 */
#headerDiv td {
	height: 36px;
}

/* メニューボタン指定 */
#showMenuButton {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(./image/menu.png) left top no-repeat;
}

/* システム名ブロックサイズ指定 */
#headerDiv td.systemName {
	white-space: nowrap;
	width: 220px;
}

#headerDiv #systemName {
	position:relative;
	top: -8px;
	display: inline-block;
}

/* ページ名ブロック */
#headerDiv #pageName {
}


/* ユーザ情報 */
#headerDiv #loginInfo {
	width: 220px;
}

#bodyTable #leftbarTd {
	width: 0px;
}


/* 左サイドバー(携帯の場合はプルダウンメニュー) */
#menuDiv,
#leftbarDiv {
	display:none;
	position:absolute;
	top:50px;
	left:10px;
	width: 220px;
	background-color: rgba(192,192,192,1.0);
}

#bodyTable #mainTd {
	width: 100%;
}

/* メインDIV */
body #mainDiv {
	width: 100%;
	padding: 4px;
}


/* レスポンシブテーブルの制御設定 */
table.responsive {
	width: 100%;
}


/* レスポンシブテーブルの制御設定 */
table.responsive {
	width: 100%;
}

/* <th></th><td></td>のみのテーブル */
table.thtd th {
	width: 30%;
}

table.thtd td {
	width: 70%;
}

/* <th></th><td></td>の2回繰り返しテーブル */
table.thtdthtd th {
	width: 20%;
}

table.thtdthtd td {
	width: 30%;
}

/* <th></th><td></td>の3回繰り返しテーブル */
table.thtdthtdthtd th {
	width: 10%;
}

table.thtdthtdthtd td {
	width: 15%;
}



/* 入力フィールドの高さ */
input[type="text"], input[type="email"], input[type="search"],input[type="password"] {
	height: 20px;
	width: calc(100% - 4px);
}

textarea {
	width: calc(100% - 4px);
	height: calc(100% - 4px);
}

select {
	height: 26px;
	width: 100%;
}

/* フィールド値を表示するspanに適したスタイル */
.fieldSpan {
	display:table-cell;
	height: 20px;
	vertical-align: middle;
}


#mainDiv table th,
#mainDiv table td {
	height: 22px;
}


/* ボタンサイズを指定 */
#mainDiv input[type='button'],
#mainDiv input[type='submit'],
#mainDiv button {
	height: 22px;
}


/* 編集可能テーブル(追加削除ボタンカラムのスタイル) */
.editableTable .buttonColumn {
	width: 34px;
}

.editableTable [id$='addButton'],
.editableTable [id$='deleteButton'] {
	width: 32px;
}

/* 検索結果フォームのページ制御関連のスタイル */
#queryResultForm #linesPerPage,
#queryResultForm #pageNo {
	width: 64px;
}

#queryResultForm #topPageButton,
#queryResultForm #prevPageButton,
#queryResultForm #nextPageButton,
#queryResultForm #bottomPageButton {
	width: 32px;
}

/* Datepickerの設定されたフィールド */
.hasDatepicker {
	width: calc(100% - 42px) !important;
}

/* 範囲フィールドのクラス */
.rangeField {
	width: calc((100% - 32px) / 2) !important;
}

/* 日付範囲フィールドのクラス */
.dateRangeField {
	width: calc((100% - 32px) / 2 - 32px) !important;
}


