@CHARSET "UTF-8";

/**
 * 基本レイアウト用のスタイルシート(パソコン).
 */
/* 表示制御用クラス */
.pc {
	display:block;
}

.tb {
	display:none;
}

.sp {
	display:none;
}

/* 基本フォントサイズ */
html,body {
	font-size:10pt;
}

input,select,textarea {
	font-size:10pt;
}


/* ヘッダ周りのスタイル */
/* ヘッダ部の高さ指定 */
#headerDiv td {
	height: 36px;
}

/* メニューボタン指定 */
#showMenuButton {
}

/* メニューボタン */
.menuButton {
	display:none;
}

/* システム名ブロックサイズ指定 */
#headerDiv td.systemName {
	white-space: nowrap;
	width: 220px;
}

#headerDiv #systemName {
	display: inline-block;
}


/* ページ名ブロック */
#headerDiv #pageName {
}


/* ユーザ情報 */
#headerDiv #loginInfo {
	width: 220px;
}



#bodyTable #leftbarTd {
	width: 220px;
	max-width: 220px;
}


/* 左サイドバー(常に表示されているメニュー) */
#menuDiv,
#leftbarDiv {
	display:block;
	width: 220px;
	max-width: 220px;
	clear: both;
	float: left;
	padding: 6px;
}

#bodyTable #mainTd {
	width: calc(100% - 220px);
}

/* メインDIV */
body #mainDiv {
	width: 100%;
	float: left;
	padding: 4px;
}

/* テーブル行の高さ指定 */
#mainDiv table th,
#mainDiv table td {
}


/* レスポンシブテーブルの制御設定 */
table.responsive {
	width: 100%;
}


/* 入力フィールドの高さ */
input[type="text"], input[type="email"], input[type="search"],input[type="password"] {
	height: 20px;
	width: calc(100% - 4px);
}

textarea {
	width: calc(100% - 4px);
	height: calc(100% - 4px);
}

select {
	height: 26px;
	width: 100%;
}
/* フィールド値を表示するspanに適したスタイル */
.fieldSpan {
	display:table-cell;
	height: 20px;
	vertical-align: middle;
}


#mainDiv table th,
#mainDiv table td {
	height: 22px;
}


/* ボタンサイズを指定 */
#mainDiv input[type='button'],
#mainDiv input[type='submit'],
#mainDiv button {
	height: 22px;
}



/* 編集可能テーブル(追加削除ボタンカラムのスタイル) */
.editableTable .buttonColumn {
	width: 34px;
}

.editableTable [id$='addButton'],
.editableTable [id$='deleteButton'] {
	width: 32px;
}

/* 検索結果フォームのページ制御関連のスタイル */
#queryResultForm #linesPerPage,
#queryResultForm #pageNo {
	width: 64px;
}

#queryResultForm #topPageButton,
#queryResultForm #prevPageButton,
#queryResultForm #nextPageButton,
#queryResultForm #bottomPageButton {
	width: 32px;
}

/* Datepickerの設定されたフィールド */
.hasDatepicker {
	width: calc(100% - 42px) !important;
}

/* 範囲フィールドのクラス */
.rangeField {
	width: calc((100% - 32px) / 2) !important;
}

/* 日付範囲フィールドのクラス */
.dateRangeField {
	width: calc((100% - 32px) / 2 - 32px) !important;
}

